/****************************************
 * general purpose css-only components  *
 ****************************************/

.fm-panel {
  background-color: #fff;

  border: 1px solid #c1c1c1;

  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;

  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;

  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;

  overflow: hidden;
}

.fm-panel > h4 {
  margin: -10px -10px 10px -10px;
  border-bottom: 1px solid gray;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
}

.fm-right {
  text-align: right;
}

/****************************************
 * angular components                   *
 ****************************************/

.fm-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.fm-rating {
  display: inline-block;
}

.fm-rating-pointer {
  cursor: pointer;
}

.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.fm-rating .fm-selected {
  color: #000000;
}

.fm-rating .fm-hover {
  text-shadow: white 0 0 2px, white 0 0 2px, white 0 0 2px, white 0 0 2px,
    blue 0 0 10px;
}

fm-rating a {
  visibility: hidden;
  padding-left: 7px;
}

fm-rating:hover a {
  visibility: visible;
}

.fm-deliver-to {
  display: block;
  width: 450px;
}

input.ng-invalid.ng-dirty {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/****************************************
 * route specific css                   *
 ****************************************/

/* customer */

.fm-customer-bkg {
  background-image: url(../img/customer_bkg.jpg);
  opacity: 0.4;
  height: 705px;
}

/* restaurant list */

.fm-restaurant-list {
  min-height: 646px !important;
}

.fm-restaurant-list table {
  margin: -10px -20px -20px -10px;
  width: 700px;
}

.fm-restaurant-list th:first-child {
  width: 500px;
}

.fm-restaurant-list th {
  width: 100px;
}

.fm-restaurant-list img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

/* menu */

.fm-restaurant {
  margin-bottom: 20px;
}

.fm-restaurant h3 {
  margin-top: 0;
}
tr td {
  border-bottom: 1px solid grey;
}

.fm-restaurant img {
  width: 150px;
  height: 150px;
}

.fm-restaurant .fm-rating {
  display: block;
}

.fm-menu-list li {
  list-style-type: none;
}

.fm-menu-list li span {
  padding-right: 20px;
}
tr td {
  border-bottom: 1px solid #d2cbcb;
  padding: 8px;
}

.fm-menu-list a {
  color: inherit;
}

.fm-menu-list a:hover {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
}
i.icon-plus-sign {
  cursor: pointer;
}
.fm-menu-list li:hover .icon-plus-sign {
  visibility: visible;
}

.fm-menu-list li:hover {
  color: black;
}

.fm-menu-list ul li {
  margin-bottom: 9px;
  border-bottom: 1px solid #dcd3d3;
  padding-bottom: 2px;
}

.fm-cart li {
  margin-bottom: 9px;
  border-bottom: 1px solid #dcd3d3;
  padding-bottom: 2px;
}
.tot {
  margin-left: 35px;
}
a.btn {
  border: none;
  background: #065af3;
  color: #ffff;
  font-weight: 200;
  font-size: 15px;
}
.fm-cart form {
  padding-left: 2px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
}
span.ratings {
  border: 1px solid #c3c3c3;
  padding: 4px;
  font-size: 11px;
  margin-bottom: 6px;
  margin-left: 4px;
}
.ratings {
  border: 1px solid #c3c3c3;
  padding: 5px 6px 2px 6px;
  font-size: 11px;
  margin-bottom: 6px;
  margin-left: 4px;
}
.min-max {
  display: flex;
  margin-top: 6px;
}
.to {
  margin-top: 14px;
  color: grey;
}

.min-container {
  width: 33%;
  font-size: 13px;
  margin: 10px;
  height: 14px;
}

.cuisine-wrap {
  display: flex;
  flex-wrap: wrap;
}
/* CSS goes here */

.slider {
  position: relative;
  text-align: left;
  background: #969191;
  height: 2px;
}

.slider .handle {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  width: 12px;
  top: -7px;
  height: 12px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
}

.handle {
  top: -0.3em;
  margin-left: -0.6em;
}

.slider .range {
  position: absolute;
  z-index: 1;
  display: block;
  font-size: 0.7em;
  background-color: #3874f0;
  top: -3px;
  height: 6px;
}
i.fa.fa-close {
  position: relative;
  top: 0px;
  font-size: 9px;
  cursor: pointer;
  margin-right: 4px;
  color: #989898;
}
.info-cont {
  margin-bottom: 6px;
  font-weight: 500;
}
.days {
  font-weight: 200;
  margin-left: 5px;
}
.fm-cart p {
  padding-left: 20px;
  padding-top: 5px;
}

.total-amount {
  font-weight: 400;
  margin-left: 6px;
}
/* checkout */

.fm-checkout table {
  width: 960px;
  margin-left: -10px;
}

.fm-checkout table th:nth-child(2),
.fm-checkout table td:nth-child(2) {
  width: 100%;
  text-align: left;
}

.fm-checkout table td:nth-child(1) input {
  width: 30px;
}

.fm-checkout table th,
.fm-checkout table td {
  text-align: right;
}

.fm-checkout table tr:last-child th {
  text-align: right;
}

input.ng-invalid {
  border: 1px solid red;
}
